# Run UC with AMS

In [1]:
import andes
import ams

In [2]:
andes.__version__

'1.9.2'

In [3]:
ams.__version__

'0.9.10'

In [4]:
ams.config_logger(stream_level=20)

In [5]:
sp = ams.load('../cases/ieee39_uced.xlsx',
              setup=True,
              no_output=True,
              default_config=True)

Parsing input file "../cases/ieee39_uced.xlsx"...
Input file parsed in 0.0690 seconds.
System set up in 0.0012 seconds.

In [6]:
sp.UC.init()

All generators are online at initial, make initial guess for commitment.
Turn off StaticGen ['PV_37' 'PV_34'] as initial commitment guess.
<UC> initialized in 0.0152 seconds.

True

In [7]:
sp.UC.run(solver='GUROBI')

Set parameter Username
Academic license - for non-commercial use only - expires 2025-09-25

<UC> solved as optimal in 0.0959 seconds, converged in 11 iterations with GUROBI.

True

After sovling it, we can inspect the UC results

In [8]:
sp.UC.pg.v.shape

(10, 24)

There are ten units and 24 time periods.

The time periods data are stored in the model `UCTSlot`

In [10]:
sp.UCTSlot.as_df()

        idx    u    name         sd
uid
0     UCT_1  1.0   UCT 1  0.641,0.0
1     UCT_2  1.0   UCT 2  0.634,0.0
2     UCT_3  1.0   UCT 3  0.623,0.0
3     UCT_4  1.0   UCT 4  0.615,0.0
4     UCT_5  1.0   UCT 5   0.62,0.0
5     UCT_6  1.0   UCT 6   0.62,0.0
6     UCT_7  1.0   UCT 7  0.665,0.0
7     UCT_8  1.0   UCT 8  0.713,0.0
8     UCT_9  1.0   UCT 9  0.728,0.0
9    UCT_10  1.0  UCT 10  0.746,0.0
10   UCT_11  1.0  UCT 11  0.776,0.0
11   UCT_12  1.0  UCT 12  0.808,0.0
12   UCT_13  1.0  UCT 13  0.835,0.0
13   UCT_14  1.0  UCT 14   0.86,0.0
14   UCT_15  1.0  UCT 15  0.879,0.0
15   UCT_16  1.0  UCT 16  0.922,0.0
16   UCT_17  1.0  UCT 17  0.954,0.0
17   UCT_18  1.0  UCT 18  0.996,0.0
18   UCT_19  1.0  UCT 19    1.0,0.0
19   UCT_20  1.0  UCT 20  0.986,0.0
20   UCT_21  1.0  UCT 21  0.949,0.0
21   UCT_22  1.0  UCT 22  0.901,0.0
22   UCT_23  1.0  UCT 23  0.823,0.0
23   UCT_24  1.0  UCT 24  0.737,0.0

This is the results of first time period.

In [11]:
sp.UC.pg.v[:, 0]

array([3.7735845 , 3.76505439, 3.75655827, 3.74809593, 3.73546531,
       0.        , 3.74387736, 3.73966716, 0.        , 3.76931519])